
:root {
    --primary: #FF8362!important;
    --secondary: #51CFED;
    --light: #F8F2F0;
    --dark: #060315;
    --bright: 	#FF3E41;


}
body{
    font-family: 'Lora', serif;
}

.fw-medium {
    font-weight: 600 !important;
 
}
.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}






/*** Navbar ***/
.navbar-trailor{
    height: 100px;

}


.number{
    
              
    
    
    
    animation: name .5s linear alternate infinite;
  
  
  
     
  }
  @keyframes name { 
     from{transform: scale(1); }
     to{transform: scale(1.2); }
     
  }

  .number1{
                
              
    padding: 1%;
    border-radius: 50px;
    width: 300px;
    
    animation: name .5s linear alternate infinite;
  
    text-align: center;
  
     
  }
  @media only screen and (max-width: 450px) {
    .number1{
        width: 150px;
        font-size: 10px;
    }
  }

  @keyframes name { 
     from{transform: scale(1); }
     to{transform: scale(1.2); }
     
  }
 
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
    font-display: swap;
}
.hauler-bg-color{
    /* background-image : linear-gradient(339deg, rgba(252,175,37,0.6784838935574229) 0%, rgba(252,183,58,1) 100%); */
    /* background-image: url(../img/Header-trailer-transport.webp);
    background-size: 100%; */
}

.navbar-light .navbar-nav .nav-link {
    position: relative;
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
    font-display: swap;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
    font-display: swap;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 5px;
        top: -6px;
        left: 50%;
        background: #FFFFFF;
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: 100%;
        left: 0;
    }

    .navbar-light .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }

    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/



.bg-image{
    background-image: url(../img/form-bg.webp);
    background-size: 100%;
}
.glass-effect{
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    align-items: center;
    justify-content: center;
    margin: auto;
}


.form-br{
    border-bottom: 4px solid 	#FF3E41;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.car-option {
    position: absolute;
    background-color: whitesmoke;
    padding: 5%;
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    /* 3 columns with minimum width of 250px */
    grid-gap: 20px;
    /* Adjust the gap between grid items as needed */
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 350px;
    overflow: auto;
    z-index: 1;
    border-radius: 5px;
    user-select: none;
}


.page-header {
    background: linear-gradient(rgba(6, 3, 21, .5), rgba(6, 3, 21, .5)), url(../img/heavy-haulll.webp) center center no-repeat;
    background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}
.image-content{
    height: 400px;

}
.form-control{
    border: 2px solid 	#b32322;
}

@media screen and (max-width: 450px) {

    .image-content{
        height: 200px;
      
        
    }

}

/*****steps**/
.steps-bg{
    /* background-image: url(../img/Header-trailer-transport.webp);
    background-size: 100%; */
    background-color: rgb(235, 235, 235);
    border-top: 5px solid 	#b32322;
    border-bottom:5px solid 	#b32322 ;

   
}
.border-wc{
    border-bottom: 2px solid  white;
    width: 100%;
   
}
.why-card-bg{
    background-color: #b32322;
    border-radius: 30px;
   
    
   
}
.bg-blogs{
    background-color: #b32222;
    /* background-image: url(../img/nwe-background.webp);
    background-size: 100%; */
}

.btn-size{
    font-size: x-large;
   padding: 2%;


}


.main-color{
    color: 	#b32322;

}
.bg-card{
    background-color: rgba(255,255,255,.64);
  
    width: 300px;
    height: 350px;
}
.bg-card2{
    background-color: #fcb83a9c;
   
    width: 300px;
    height: 350px;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
   
}

.bg-blogs-image{
    /* background: linear-gradient(rgba(34, 16, 119, 0.623), rgba(45, 11, 214, 0.575)), url(../img/trailor2.webp) center center no-repeat;
    background-size: cover; */
}

/*** About ***/
@media (min-width: 992px) {
    .container.about {
        max-width: 100% !important;
    }

    .about-text  {
        padding-right: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .about-text  {
        padding-right: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .about-text  {
        padding-right: calc(((100% - 1320px) / 2) + .75rem);
    }
}


/*** Feature ***/
@media (min-width: 992px) {
    .container.feature {
        max-width: 100% !important;
    }

    .feature-text  {
        padding-left: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .feature-text  {
        padding-left: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .feature-text  {
        padding-left: calc(((100% - 1320px) / 2) + .75rem);
    }
}




.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
    font-display: swap;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
    font-display: swap;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
    font-display: swap;
}

.footer .copyright a {
    color: var(--light);
}

@font-face {
    font-family: "Open Sans Regular";
    font-size: 14px;
    font-display: swap;
    src: url();
}
.form-main{

  padding-left: 5%;  

}
.form-box{
    border:3px solid black;

}



/** button ***/
.sitebutton {
    position: fixed;
    bottom: 5%;
    right: 1%;
    display: none;
    z-index: 99;
}
.sitebutton-call {
   
    background-color: transparent;
    color: black;
    font-weight: bold;
    margin-bottom: 4.5%;
    
}

.sitebutton button {
    width: 210px;
    height: 50px;
    cursor: pointer;
    border: 3px solid #b32322;
    color: black;
    font-weight: bold;
    border-style: solid;
    
    background-color: transparent;
    z-index: 1000;
}
.pointss p{
    font-size: larger;
    margin-bottom: -1%;
}
.phone-num span{
    font-size: 50px;
    color: white;
    
   
    

}
@media screen and (max-width: 450px){ 
    
.logos img{
    width:50%;
    height: 50%;


}
.header-zip{
  width: 100%;
}
.sitebutton-call {
margin-bottom: 18%;
    
}
.pointss{
    font-size: small;
    width: 100%;
    margin-bottom: 2%;
}
.phone-num span{
    font-size: x-large;
}
 .width-why{
    width: 60%!important;
    padding: 0%;
    margin: 0%;
 }
 .final-shipping{
    width: 100%!important;
 }
 .handle-responsive{
    padding: 0%!important;

 }
 .car-shipment{
    width: 100%!important;
 }
 
 .btn-size{
    margin-bottom: 5%;
    
 }

 

}


.width-why{
    width: 25%;
}
.final-shipping{
    width: 50%;
}
.handle-responsive{
    padding-left: 3rem;
    padding-right: 3rem;
}

.car-shipment{
    width: 75%;
}

/*about*/
.about-bg{
    background: linear-gradient(rgba(6, 3, 21, .5), rgba(6, 3, 21, .5)), url(../img/trailer.jpg) center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    text-align: center;
    margin: auto;
    justify-content: center;
   
}
.about-cn{
 margin-top: 8%;
 font-size:80px ;
 color: white;

}
.about-div{
     text-align: justify; 
     margin-left: 11%;
     margin-top: 10%
    }
    .about-div{
        font-size: larger;
    }
    .why-div{
        width: 80%;
        justify-content: center;
        margin: auto;
        margin-top: 4%;
        background-color: aliceblue;
        padding: 5%;
        box-shadow:  0 0 15px 0 black;
    }
    .blog-card{
        width: 100%;
        margin-top: 4%;
        margin-left: 2%;
        left: 5%;
    }
    .blog-content{
        width: 60%;
        margin: 2%;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .content-div{
        width: 80%;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 5%;
    }
    .content-div h2{
        color: #b32222; 
        font-weight: 600;
    }
    .content-div p{
        font-size: larger;

    }
    .content-div h3{
        color: #060315;
        font-weight: 600;
        
    }
    @media screen and (max-width: 450px){
        .blog-content{
            width: 100%;
        }
        .content-div {
            width: 100%;
        }
    }

    .bg-blogs-footer{
        background-image: url(../img/carousel-2.jpg);
        background-size: 100% ;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%; 
        -webkit-box-shadow: inset 68px 10px 45px 18px rgba(0,0,0,0.67);
-moz-box-shadow: inset 68px 10px 45px 18px rgba(0,0,0,0.67);
box-shadow: inset 68px 10px 45px 18px rgba(0,0,0,0.67);
    }