
@media (min-width:320px) AND (max-width:600px){
    .list-of-links{display: none;}
    .service-flex{
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        grid-template-rows:none;
        grid-auto-rows: 35.9vw;
    }
}