RewriteEngine on
Options -Indexes
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
#RewriteRule ^(.*)$ https://trailertransport.org/$1 [L,R=301]
RewriteRule ^$ index.php [NC,L]
RewriteRule ^about([/]?)$ about.php [NC,L]
RewriteRule ^blogs([/]?)$ blog.php [NC,L]
RewriteRule ^contact([/]?)$ contact.php [NC,L]