*{box-sizing: border-box;}
html,body{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    font-family: inter;
}
nav{
    width: 100%;
    height: 3.5vw;
    background-color: #1b1525;
}
.nav-container{
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.brand{
    width: 198px;
    height: 38px;
}
.brand img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.list-of-links{
    width: calc(100% - 390px);
    margin: auto;
    text-align: center;
}
.list-of-links a{
    text-wrap: nowrap;
    text-decoration: none;
    color: white;
    margin:0 1%;
    font-size: 22px;
}
.nav-contact-us{
    display: flex;
    align-items: center;
    gap: 6%;
}
.search-icon{
    width: 28px;
    height: 28px;
    /* background-color: #21d0b3; */
}
.nav-contact-us button{
    width: 159px;
    height: 41px;
    background-color: #21d0b3;
    color: #1b1525;
    border: 0;
    cursor: pointer;
}
.container{
    width: 79.5%;
    margin: auto;
}
@media (min-width:1366px ) AND (max-width:1440px) {
    .brand{
        width: 158px;
        /* height: 38px; */
    }
    .list-of-links a{font-size: 16px;} 
    .nav-contact-us button{
        width: 129px;
        height: 31px;
    }
}
@media (min-width:1440px ) AND (max-width:1640px) {
    .brand{
        width: 168px;
        /* height: 38px; */
    }
    .list-of-links a{font-size: 18px;} 
    .nav-contact-us button{
        width: 139px;
        height: 37px;
    }
}


/* HAVBAR CUT FROM HERE */

/*  */

.hero-section{
    width: 100%;
    /* height: 755px; */
    height: 39.2vw;
    background-color: #100d17;
    background-image: url('./image/home/Hero-Home.png');
    background-position:0 -3.3vw;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    overflow: hidden;
}
.hero-txt{
    width: 50vw;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero-txt p{
    color: #1ecef0;
    font-size: 1.55vw;
    padding: 0;
    margin: 0;
    line-height: 4vw;
}
.hero-txt h1{
    font-weight: 400;
    font-size: 2.8vw;
    color: white;
    text-shadow: 0 0 black;
    line-height: 3.3vw;
    padding: 0;
    margin: 0;
}
.btn-div{
    width: 13vw;
    height: 3vw;
    border: .1vw solid #1ecef0;
    margin:2vw auto;
    padding: .2vw;
    cursor: pointer;
}
.btn-div button{
    width: 100%;
    height: 100%;
    border: 0;
    background-color: #1ecef0;
    color: black;
    font-size: 1.25vw;
    cursor: pointer;
}
.net-image2 {
    width: 80vw;
    height: 65vw;
    position: absolute;
    display: block;
    left:0vw;
    top:8.5vw;
}
.net-image {
    width: 53vw;
    height: 62vw;
    position: absolute;
    display: block;
    top: -3.25vw;
    right:0;}

.service-flex{
    width: 100%;
    /* height: 28.4vw; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20% , 1fr));
    grid-template-rows: 27.9vw;
    border: 0;
}
/* add layer of this color #012c36 */
.service-items{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: grid;
    place-items: center;
    transition: box-shadow .5s;
}
.service-item-box{
    width: 100%;
    height: 93%;
    overflow: hidden;
    position: relative;
}
.service-items img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.service-txt{
    width: 100%;
    height: 45%;
    position: absolute;
    bottom: -4vw;
    left: 0;
    text-align: center;
    z-index: 2;
    padding: 0 3%;
    color: white;
    transition:bottom .5s;
}
.service-items:hover{
    -webkit-box-shadow: inset 0px -200px 125px 29px rgba(1,44,54,1);
    -moz-box-shadow: inset 0px -200px 125px 29px rgba(1,44,54,1);
    box-shadow: inset 0px -200px 125px 29px rgba(1,44,54,1);
}
.service-items:hover .service-txt{
    bottom:0;
}

.service-txt h3{
    font-weight: 500;
    font-size: 1.7vw;
    line-height: 2vw;
    margin: 0;
}
.service-txt p{
    font-size: 1.1vw;
    line-height: 1.5vw;
    margin:.5vw 0 0 0;
}

/* SECTION 3 HOME SWIPER */
.home-page-section3{
    padding: 2vw 0;
    text-align: center;
    /* overflow: hidden; */
}
.home-page-section3 h2{
    font-size: 2.5vw;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    margin: 0;
}
.underline-section3{
    content: '';
    width: 20vw;
    margin: 1vw auto;
    height: .2vw;
    border-radius: 10px;
    background-color: #21d0b3;
}
.home-page-section3 p{
    width: 69%;
    font-size: 1.55vw;
    line-height: 2.3vw;
    margin: auto;
    /* margin-bottom: 2vw; */
}
.home-page-section3 button{
    width: 13vw;
    border: 0;
    cursor: pointer;
    height: 3.5vw;
    font-size: 1.2vw;
    color: white;
    background-color: #2bccb1;
    margin: auto;
    text-align: center;
}
.myswiper{
    width: 100%;
    height: auto;
    margin-top: 6%;
}
/* .swiper{overflow: unset;} */
.swiper{height: 35vw;}
.swiper-wrapper{align-items: center;}
.swiper-slide{
    width: 59.2vw;
    height: 25vw;
    transform: translate3d(0px, 0px, -100px) rotateX(0deg) rotateY(0deg) scale(1)!important;
}
.swiper-slide-active{
    transform: translate3d(0px, 0px, -100px) rotateX(0deg) rotateY(0deg) scale(1)!important;
    height: 31vw;
    box-shadow: 0 0 60px 6px white, 0 10px 50px 5px rgba(0, 0, 0, 0.616);
    filter:drop-shadow();
    border-radius:1vw;
}
.swiper-slide img, .swiper-slide-active img{
    width: 100%;
    height: 100%;
    border-radius: 1vw;
}
.swiper-pagination{display: none;}
/* SECTION 3 HOME SWIPER */
.home-page-section4{
    margin: 6vw 0;
}
.home-page-section4-flex{
    display: flex;
    
}
.home-page-section4-img,.home-page-section4-info{width: 50%;}
.home-page-section4-img1{
    width: 24.4vw;
    height: 24.4vw;
    background-color: #100d17;
    margin: auto;
    background-image: url('./image/home/home-section4.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}
.home-page-section4-img1-2{
    width: 22.3vw;
    height: 18vw;
    position: absolute;
    bottom:-6.5vw;
    right:-8vw;
    background-image: url('./image/home/home-section4-2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.home-page-section4-img1-3{
    width: 11.2vw;
    height: 7vw;
    background-image: url('./image/home/home-section4-3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    left: -5vw;
    top: 2.9vw;
    text-align: center;
    color: white;
    display: grid;
    place-items: center;
}
.home-page-section4-img1-3 span{margin-top: 1.5vw;}
.home-page-section4-img1-3 p{margin: 0;font-size: 1.1vw;}
.home-page-section4-info{
    padding:0 4vw;
}
.home-page-section4-info h3{
    margin:.5vw 0;
    font-size: 2vw;
    font-weight: 400;
    line-height: 2.8vw;}
    .home-page-section4-info table{
        margin-top: .5vw;}
.home-page-section4-info table tr td{
    padding: .2vw 0 .2vw .1vw;
    color: grey;
    font-size: 1.1vw;}
    .home-page-section4-info button{
        width: 8vw;
        height: 3.5vw;
        border: 0;
        font-size: 1.2vw;
        background-color: #21d0b3;
        color: white;
        margin-top: 1.7vw;
        cursor: pointer;
    }   
    
    .home-page-section-5{
        text-align: center;
    }
    .home-page-section-5 h2{text-transform: uppercase;font-weight: 500;margin: 0;font-size: 1.8vw;}
    .home-page-section-5-underline{
        width: 15vw;
        height: .25vw;
        border-radius: 10px;
        background-color: #21d0b3;
        margin:1vw auto 2vw auto;
    }
.h-p-s-5{position: relative;overflow: hidden;cursor: pointer;padding: 0 .1vw;}
.h-p-s-5-txt{
    width: 100%;
    position: absolute;
    display: grid;
    justify-content: center;
    bottom: -3vw;
    left: 0;
    text-align: center;
    color: white;
    transition: .3s;
}    
.h-p-s-5-txt strong{font-weight: 500;font-size: 1.3vw;}
.h-p-s-5-txt button{
    width: 8vw;
    height: 2.5vw;
    border: 0;
    background-color: #2bccb1;
    font-size:1.2vw;
    margin: auto;
    color: white;
    cursor: pointer;
}
.h-p-s-5:hover .h-p-s-5-txt{
    bottom: 8vw;
}

.home-page-section-6{
    margin: 10vw 0 7vw 0;
}
.home-page-section-6 h2{
    font-size: 2.5vw;
    text-transform: uppercase;font-weight: 500;margin: 0;text-align: center;
}
.home-page-section-6 .home-page-section-5-underline{
    margin-bottom: 4vw;
    width: 21vw;
}
.home-page-section-6-flex{
    width: 82.3%;
    height: auto;
    padding: 1vw 0;
    margin: auto;
    display: flex;
}
.home-page-section-6-col-1{width: 33.5%;}
.home-page-section-6-col-2{width: 66.5%;}
.h-p-s-6-box{
    width: 100%;
    color: rgb(23, 22, 22);
    border-left: .5vw solid #21d0b3;
    margin: .5vw 0;
    padding: 1vw 1.5vw;
    cursor: pointer;
    font-size: 1.55vw;
    
}
.h-p-s-6-active{
    width: 100%;
    color: #1ecef0;
    margin: .5vw 0;
    padding: 1vw 1.5vw;
    position: relative;
    /* border-bottom: 1px solid rgb(215, 215, 215); */
    border-bottom: .1vw solid transparent;
    border-image: linear-gradient(0.25turn, rgb(243, 243, 243), rgb(188, 188, 188), rgba(239, 239, 239, 0));
    border-image-slice: 1;
}
.h-p-s-6-active::after{
    content: '';
    position: absolute;
    width: 1.5vw;
    height: 3vw;
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
    background-color: white;
    right: 0;
    top:.5vw;
}
.h-p-s-6-active::before{
    content: '';
    position: absolute;
    width: .5vw;
    height: 100%;
    left: -.5vw;
    top:0;
    border-left: .5vw solid #1ecef0;
}
.h-p-s-6-box-container{
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0 1vw 3vw .5vw #c5c5c5;
    padding: 2vw 2.5vw;
    display: none;
}
.h-p-s-6-box-container-active{display: block;}

.home-page-section-7{
    width: 100%;
    height: 46.5vw;
    background-image: url('./image/home/home-page-section-7.webp');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 3vw 0;
}
.home-page-section-7 h2{
    text-transform: uppercase;
    font-size: 2.5vw;
    margin: 0;
    color: white;
    font-weight: 500;
    text-align: center;
}
.home-page-section-7 .home-page-section-5-underline{
    margin-bottom: 3vw;
    height: .15vw;
    width: 21vw;
}

.home-page-section-7-flex{
    width: 82.3%;
    height: auto;
    padding: 1vw 0;
    margin: auto;
    display: flex;
}
.h-p-s-7-box{
    width: 49%;
    height: 6.8vw;
    background-color: white;
    border-top-right-radius: 3vw;
    border-bottom-left-radius: 3vw;
    padding:.2vw 1.5vw;
    cursor: pointer;
}
.h-p-s-7-box .home-page-section-7-flex{height: 100%;width: 100%;}
.h-p-s-7-box:last-child{
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 3vw;
    border-bottom-right-radius: 3vw;
}

.home-page-section-7 .home-page-section-7-flex{justify-content: space-between;margin-bottom: 0vw;}


.h-p-s-7-inner-box1{width: 15%;height: 100%;display: grid;place-items: center;}
.h-p-s-7-inner-box1 img{
    width: 65%;
    height: 72%;
}
.h-p-s-7-inner-box2{width: 85%;height: 100%;border-left: 1px solid lightgrey;padding: 0 1vw;}
.h-p-s-7-inner-box2 p{margin: 0;}

.h-p-s-7-inner-box2 p{
    font-size: 1.4vw;
    margin-bottom: .5vw;
}
.h-p-s-7-box-active{
    background-image: linear-gradient(to right, #21d0b3, #20cfe0);
}
.h-p-s-7-inner-box2 small{
    font-size: .9vw;
    line-height: 1.3vw;
}

.home-page-section-8{
    width: 100%;
    height: 40vw;
    margin-top: -10vw;
    background-image: url('./image/home/section8.webp');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    display: grid;
    place-items: center;
}
.h-p-s-8-container{
    width: 67.5%;
    height: 62%;
    display: flex;

}
.h-p-s-8-box{
    width: 100%;
    position: relative;
    text-align: center;
    padding:1vw 2vw;
    color: white;
}
.h-p-s-8-box::after{
    content: '';
    width: .1vw;
    height: 50%;
    background-color: white;
    position: absolute;
    /* top: 5%; */
    top: 40%;
    right: 0;
    transform: translateY(-50%);
}
.h-p-s-8-box:last-child::after{display: none;}
.h-p-s-8-icon{
    width: 5vw;
    height: 5vw;
    background-color: white;
    border-radius: 50%;
    margin: auto;
}
.h-p-s-8-box strong{
    display: block;
    font-size: 2.25vw;
    color: #2cf0b4;
    margin: 1vw 0;
}
.h-p-s-8-box p{font-size: .9vw;line-height:2vw;}
.h-p-s-8-p{
    font-weight: 700;
    font-size: 1.1vw!important;
}
.home-page-section-9{
    width: 100%;
    height: auto;
    margin: 2vw 0 8vw 0;
    text-align: center;

}
.sec-9-p{
    color: #2bccb1;
    font-weight: 600;
    font-size: 1vw;
    margin: 0 0 .5vw 0;
}
.home-page-section-9 h2{
    font-size: 2.2vw;
    margin: 0;
    margin-bottom: 3vw;
}
.h-p-s-9-flex{
    width: 62.5%;
    margin: auto;
    display: flex;
    justify-content: space-between;    
}
.h-p-s-9-box{
    width: 32%;
    text-align: center;
    box-shadow: 0 0 1vw .5vw #f7f7f9;
}
.h-p-s-9-box span{
    display: block;
    margin: 1.3vw 0 2vw 0;
}
.h-p-s-9-box strong{
    display: block;
    font-size: 1.3vw;
    margin: 0;
}
.h-p-s-9-box small{margin-top: -.5vw;display: block;}
.h-p-s-9-box img{
    width: 100%;
    height: auto;

}
.home-page-section-10{
    width: 100%;
    height: auto;
    padding: 2vw 0 0 0;
    position: relative;
    z-index: 1;
    background-color: transparent!important;
}
.home-page-section-10-bakground{
    height: 25vw;
    width: 100%;
    background-color: #f7f7f9;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;

}
.h-p-s-10-test{
    width: 4vw;
    height: 4vw;
    margin: 0 auto 1vw auto;
}


.home-page-section-10 h2{font-size: 1.7vw;}
.home-page-section-10 .h-p-s-9-box{
    height: auto;
    background-color: white;
    padding: 5%;
    /* border: 1px solid lightgrey; */
}
.home-page-section-10 .h-p-s-9-box p{
    font-size: 1.1vw;
    line-height: 2vw;
    color: grey;
}
.h-p-s-10-user-img{
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    margin: auto;
    overflow: hidden;
}
.h-p-s-10-user strong{
    font-size: 1.1vw;
    display: block;
    margin: .5vw 0;
}
.h-p-s-10-user small{
    font-size: 1vw;
    display: block;
    margin: .5vw 0;
}



/*  */

/* CuT FROM HERE */
/* FORM CSS */
.section33{
    width: 100%;
    height:auto;
}
.form-container{
    width: 83%;
    aspect-ratio: 2/1;
    margin:2% auto;
    border: 1px solid lightgrey;
    border-top: .5vw solid #21D0B3;
    padding:4% 3% 1% 3%;
    display: flex;
    position: relative;
    background-color: white;
}

.form-fields{
    width: 60%;
    height: 100%;
}
.form-contact{
    width: 40%;
    height: 100%;
    background-image: url('./image/form-contact.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100% ;
    padding: 5.5% 3%;
}
.background-img-section33{
    position: absolute;
    left: 0;
    bottom: -15%;
    width: 100%;
    height: auto;
}
.form-contact-container{
    width: 100%;
    height: 100%;
    color: white;
    display: grid;
    align-items: start;
}
.form-contact-container .f-c-c{
    font-size: 2.5vw;
    margin: 0;
}
.form-contact-container p{
    width: 90%;
    font-size: .95vw;
    margin: 0;
    line-height: 1.7vw;
}

.form-contact-flex{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 4%;
    height: auto;
}
.form-contact-col:last-child{
    width: 100%;
}
.form-contact-col p{
    margin: 0;
    font-size: 1vw;
}
.form-contact-col strong{
    font-size: 1.3vw;
}
.form-contact-icon{
    width: 3.54vw;
    height: 3.54vw;
    background-color: #495475;
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.form-contact-icon svg{
    width: 1.5vw !important;;
}
.form-contact-social-icon{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-contact-social-icon-item{
    width: 2.6vw;
    height: 2.6vw;
    border-radius: 50%;
    background-color: #4f88b7;
    align-self: flex-end;
    margin-top: 10%;
    display: grid;
    place-items: center;
}
.form-contact-social-icon-item svg{width: 1.5vw!important;}
.form-fields h2{
    font-size: 2.3vw;
    margin: 0;
}

.form-group{
    width: 100%;
    margin: 4vw 0;
    padding-right: 4vw;
}
.form-flex{
    width: 100%;
    display: flex;
    gap: 1vw;
    align-items: center;
}
.form-flex > div{width: 100%;}
.form-group label{font-size: .9vw;color: #8f8f8f;font-weight: 600;}
.form-group input{
    border: 0;
    width: 100%;
    height: 2vw;
    border-bottom: .01vw solid #8f8f8f;
}
.form-group button{
    width: 10vw;
    height: 3vw;
    border: 0;
    font-size: 1.1vw;
    color: white;
    font-weight: 500;
    float: left;
    cursor: pointer;
    background-color: #21d0b3;
}
.form-group:nth-child(3){margin:1vw 0;}
.form-group:last-child{margin:.1vw 0;}
.form-group:last-child .form-flex >div{width: 50%;}
.form-group:last-child .form-flex >div > p{ font-size: 1.1vw;line-height: 1.75vw;}


footer{
    margin-top: -11vw;
    width: 100%;
    height:58vw;
    padding: 5%;
    /* background-color: #1B1525; */
    background-image: url('./image/footer-back.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: -1;
    position: relative;
}

footer .container{
    margin-top: 11vw;
}

footer .container h2{
    color: white;
    text-align: center;
    font-size: 2vw;
    font-weight: 400;
    letter-spacing: .2vw;
}
.footer-bottom{
    width: 100%;
    height: 3vw;
    background-color: #100d17;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}
